<aside class="control-sidebar control-sidebar-dark">
    @* BEGIN Tabs *@
    <ul class="nav nav-tabs nav-justified control-sidebar-tabs">
        <li class="active"><a href="#control-sidebar-home-tab" data-toggle="tab"><i class="fa fa-home"></i></a></li>
        <li><a href="#control-sidebar-settings-tab" data-toggle="tab"><i class="fa fa-gears"></i></a></li>
    </ul>
    @* END Tabs *@
    <div class="tab-content">
        @* BEGIN Home Tab *@
        <div class="tab-pane active" id="control-sidebar-home-tab">
            <h3 class="control-sidebar-heading">Aktiviteler</h3>
            <ul class="control-sidebar-menu">
                <li>
                    <a href="javascript::;">
                        <div class="menu-info">
                            <h4 class="control-sidebar-subheading">Bekleyen Aktivite Yok</h4>
                        </div>
                    </a>
                </li>
            </ul>
        </div>
        @* END Home Tab *@
        <div class="tab-pane" id="control-sidebar-stats-tab">Stats Tab Content</div>
        @* BEGIN Settings Tab *@
        <div class="tab-pane" id="control-sidebar-settings-tab">
            <form method="post">
                <h3 class="control-sidebar-heading">Tema Ayarları</h3>

                <div class="form-group">
                    <label class="control-sidebar-subheading">
                        Panel Ayarlarını Kaydet
                        <input type="checkbox" class="pull-right" checked>
                    </label>

                    <p>
                        Burası test amaçlı koyulmuştur geliştirme yapılabilir.
                    </p>
                </div>
            </form>
        </div>
        @* END Settings Tab *@
    </div>
</aside>
@* Add the sidebar's background. This div must be placed immediately after the control sidebar *@
<div class="control-sidebar-bg"></div>